site_name: GrADyS-SIM TNG
theme:
  name: material
  features:
    - content.code.copy
    - navigation.footer
    - navigation.instant
  palette:
    # Palette toggle for dark mode
    scheme: slate
    primary: teal

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: true
  - autorefs